footer {
    @include flex (column, unset, center, center);
    height: 200px;
    background: linear-gradient(to bottom, transparent, $colorBlack1);
    color: $colorWhite2;

    span {
        font-size: 1em;
        margin-bottom: 20px;
        text-align: center;
        max-width: 90%;
    }
    ul {
        list-style: none;
        @include flex (unset, unset, center, center);
        gap: 20px;

        li a {
            text-decoration: none;
            color: $colorWhite3;
            transition: .3s;
            font-size: .8em;

            &:hover {
                color: $colorWhite2;
                text-decoration: underline 1px solid;
                text-underline-offset: 4px;
                transition: .3s;
            }
        }
    }

    span, ul {
        position: relative;
        top: 30px;
    }
}

// Responsive

@include media-up(md) {
    footer {
        font-size: 18px;
    }
}