#sobreMi {
    scroll-margin-top: 180px;

    #sobreMiContainer {
        position: relative;
        z-index: 500;
        margin-bottom: 50px;
        div.text {
            margin: 0 auto;
            width: 90%;
            @include flex (column, unset, center, center);
            position: relative;
            top: -40px;

            span {
                width: 90%;
                max-width: 1000px;
                @include flex (column, unset, center, center);

                img {
                    box-shadow: 0 0 10px -2px rgba(255, 255, 255, 0.2);
                    border-radius: 50%;
                    width: 8rem;
                    border: 2px $colorWhite3 solid;
                    margin: 20px 0px;
                }
                p {
                    color: $colorWhite2;
                    font-size: 1.1rem;
                    font-weight: 200;
                    text-align: center;
                }
            }
        }

        #skillsContainer {
            width: 70%;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 50px;
            @include flex (column, unset, unset, center);

            .items {
                width: 100%;
                @include flex (unset, wrap, space-evenly, center);
                gap: 20px;
                .skill {
                    @include flex (unset, unset, center, center);
                    position: relative;
                    cursor: pointer;
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 5px;
                    overflow: hidden;
                    
                    img {
                        filter: invert(.6);
                        width: 1.8rem;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        top: 150%;
                        width: 80%;
                        height: 50%;
                        filter: blur(20px); 
                    }
                    &:hover:before {
                        top: 60%;
                        transition: all .3s;
                        background: rgba(71, 44, 227, 0.6);
                    }
                    &:hover {
                        transition: all .3s;
                    }

                    &.active {
                        margin-top: 0;
                        transition: transform .3s;
                        transform: scale(130%) translateY(-10%);

                        img {
                            filter: invert(1);
                        }

                        &:before {
                            top: 60%;
                            background: rgba(71, 44, 227, 0.6);
                        }
                    }
                }
            }
            .infoContainer {
                width: 100%;

                .info {
                    @include flex (column, unset, center, center);
                    text-align: center;
                    margin-top: 10px;
                    overflow: hidden;
                    display: none;

                    &.active {
                        display: flex;
                        animation: fadeIn .5s forwards;
                        @keyframes fadeIn {
                            0% {
                                opacity: 0;
                                transform: scale(30%);
                            }
                            100% {
                                opacity: 1;
                                transform: scale(100%);
                            }
                        }
                    }

                    h4 {
                        color: $colorWhite2;
                        font-size: 3.5rem;
                        margin-bottom: 5px;
                    }
                    .bar {
                        position: relative;
                        top: -8px;
                        width: 100%;
                        height: .4rem;
                        margin: .5rem 0;
                        background: $colorBlack2;
                        border-radius: 8px;

                        &:before, &:after {
                            content: '';
                            position: absolute;
                            border-radius: 8px;
                            height: 100%;
                            background: $colorWhite2;
                            animation: progressBar 5s forwards;
                        }
                        &:after {
                            filter: opacity(.2) blur(8px);
                        }
                        &.uno:before, &.uno:after {
                            width: 100%;
                        }
                        &.dos:before, &.dos:after {
                            width: 75%;
                        }
                        &.tres:before, &.tres:after {
                            width: 50%;
                        }
                        &.cuatro:before, &.cuatro:after {
                            width: 20%;
                        }
                        &.cinco:before, &.cinco:after {
                            width: 85%;
                        }


                        @keyframes progressBar {
                            0% {
                                left: -100%; 
                            }
                            20%{
                                left: 0%; 
                            }
                            100% {
                                left: 0%;              
                            }
                        }

                    }
                    p {
                        color: $colorWhite2;
                        font-size: 1rem;
                        font-weight: 200;
                        line-height: 1.8rem;
                        padding: 0 20px;

                        a {
                            text-decoration: none;
                            text-decoration: underline 1px solid;
                            text-underline-offset: 4px;
                            color: inherit;
                            &:hover {
                                color: $colorWhite1;
                            }
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }    
        }
        .servicioContainer {
            width: 70%;
            margin: 0 auto;
            @include flex (column, unset, center, center);

            .servicio {
                max-width: 500px;
                min-width: 387.56px;
                margin-bottom: 30px;
                @include flex (column, unset, center, center);

                h4 {
                    font-size: 2rem;
                    letter-spacing: normal;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 1rem;
                    color: $colorWhite2;
                    font-weight: 200;
                    text-align: center;
                    margin: 0;
                    margin-bottom: 10px;
                }
                .slider {
                    overflow: hidden;
                    position: relative;

                    // @media screen (max-width:555px) {
                    //     .servicio .slider {
                    //         width: ;
                    //     }
                    // }
                    .slides {
                        width: 500%;
                        height: 110px;
                        @include flex (unset, unset, unset, flex-start);
                        span {
                            @include flex (column, unset, center, center);
                            gap: 5px;
                            color: $colorWhite2;

                            h5 {
                                font-size: 1rem;
                                margin: 0;
                            }
                        }
                        input {
                            display: none;    
                        }
                        .slide {
                            width: 20%;
                            transition: .3s;
                        }
                        .navManual {
                            position: absolute;
                            width: 100%;
                            bottom: 0px;
                            @include flex (unset, unset, center, center);
                            .manualBtn {
                                border: 2px solid $colorWhite3;
                                padding: .25rem;
                                border-radius: 50%;
                                cursor: pointer;
                                transition: .3s;
    
                                &:not(:last-child) {
                                    margin-right: 35px;
                                }
                                &:hover {
                                    background: $colorWhite2;
                                    border-color: $colorWhite2;
                                }
                            }
                        }
                        #radio1:checked ~ .first {
                            margin-left: 0;
                        }
                        #radio2:checked ~ .first {
                            margin-left: -20%;
                        }
                        #radio3:checked ~ .first {
                            margin-left: -40%;
                        }
                        #radio4:checked ~ .first {
                            margin-left: -60%;
                        }

                        .navAuto {
                            position: absolute;
                            width: 100%;
                            bottom: 0px;
                            @include flex (unset, unset, center, center);

                            div {
                                border: 2px solid $colorWhite3;
                                padding: .25rem;
                                border-radius: 50%;
                                cursor: pointer;
                                transition: .3s;

                                &:not(:last-child) {
                                    margin-right: 35px;
                                }
                            }
                        }
                        #radio1:checked ~ .navAuto .autoBtn1 {
                            background: $colorWhite2;
                            border-color: $colorWhite2;
                        }
                        #radio2:checked ~ .navAuto .autoBtn2 {
                            background: $colorWhite2;
                            border-color: $colorWhite2;
                        }
                        #radio3:checked ~ .navAuto .autoBtn3 {
                            background: $colorWhite2;
                            border-color: $colorWhite2;
                        }
                        #radio4:checked ~ .navAuto .autoBtn4 {
                            background: $colorWhite2;
                            border-color: $colorWhite2;
                        }
                    }
                }
            }
        }
    }
}

// Responsive

@include media-up(lg) {
    #sobreMi {
        #sobreMiContainer {
            #skillsContainer {
                margin-top: 20px;
                @include flex (row, wrap, unset, unset);
                .items, .infoContainer{
                    width: 50%;
                    padding: 0px 10px;
                }
                .items {
                    @include flex (unset, wrap, center, flex-start);
                    .skill {
                        @include flex (unset, wrap, center, center);
                        margin: 0 1.5rem;
                        padding: 0;
                        width: 4.5rem;
                        height: 4.5rem;

                        img {
                            width: 3.2rem;
                        }

                        &.active {
                            transform: none;
                            transform: scale(120%);
                        }
                    }
                }
                .infoContainer {
                    margin: 0;
                    .info {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
            .servicioContainer {
                @include flex (row, unset, center, flex-start);
                gap: 30px;
                max-width: 600px;
            }
        }
    }
}

@include media-up(md) {
    #sobreMi {   
        #sobreMiContainer {
            div.text {
    
                span {
                    width: 90%;
                    max-width: 800px;
                    @include flex (row, unset, center, center);
    
                    img {
                        margin-right: 30px;
                    }
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media (max-width: 410px) {
    #sobreMi #sobreMiContainer {
        .servicioContainer {
            .servicio {
                min-width: 0px;
                width: 300px;

                .slider {
                    width: 300px;  
                }
            }
        }
    }
}