@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200;400;700&display=swap');
@import "_vars-n-mixins";

@import "navbar";
@import "_inicio";

#sobreMi {
    scroll-margin-top: 180px;

    #sobreMiContainer {
        position: relative;
        z-index: 500;
        div.text {
            margin: auto;
            width: 90%;
            @include flex (column, unset, center, center);
            position: relative;
            top: -40px;
    
    
            h3 {
                @include flex (unset, unset, center, unset);
                margin: 0 auto;
                width: fit-content;
                font-size: 4rem;
                cursor: default;
             }
             p {
                width: 90%;
                max-width: 1000px;
                color: $colorWhite2;
                font-size: 1.1rem;
                font-weight: 200;
                text-align: center;
             }
        }

        #skillsContainer {
            width: 70%;
            max-width: 800px;
            margin: 0 auto;
            @include flex (column, unset, unset, center);

            .items {
                width: 100%;
                @include flex (unset, unset, space-between, flex-end);
                .skill {
                    @include flex (unset, unset, center, center);
                    position: relative;
                    cursor: pointer;
                    width: 3.5rem;
                    height: 3.5rem;
                    overflow-y: hidden;
                    overflow-x: visible;
                    
                    img {
                        filter: invert(.6);
                        width: 1.8rem;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        top: 150%;
                        width: 80%;
                        height: 50%;
                        filter: blur(20px); 
                    }
                    &:hover:before {
                        top: 60%;
                        transition: all .3s;
                    }
                    &:hover {
                        transition: all .3s;
                    }
                    &:nth-child(1) {
                        &:hover:before {
                            background: rgba(255, 0, 0, .4);
                        }
                    }
                    &:nth-child(2) {
                        &:hover:before {
                            background: rgba(0, 140, 255, .4);
                        }
                    }
                    &:nth-child(3) {
                        &:hover:before {
                            background: rgba(255, 0, 234, .4);
                        }
                    }
                    &:nth-child(4) {
                        &:hover:before {
                            background: rgba(255, 217, 0, .4);
                        }
                    }
                    &:nth-child(5) {
                        &:hover:before {
                            background: rgba(0, 47, 255, .4);
                        }
                    }

                    &.active {
                        margin-top: 0;
                        transition: transform .3s;
                        transform: scale(130%) translateY(-10%);

                        img {
                            filter: invert(1);
                        }

                        &:before {
                            top: 60%;
                        }
                        &:nth-child(1) {
                            &:before {
                                background: rgba(255, 0, 0, 0.4);
                            }
                        }
                        &:nth-child(2) {
                            &:before {
                                background: rgba(0, 140, 255, 0.4);
                            }
                        }
                        &:nth-child(3) {
                            &:before {
                                background: rgba(255, 0, 234, 0.4);
                            }
                        }
                        &:nth-child(4) {
                            &:before {
                                background: rgba(255, 217, 0, 0.4);
                            }
                        }
                        &:nth-child(5) {
                            &:before {
                                background: rgba(0, 47, 255, 0.4);
                            }
                        }
                    }
                }
            }
            .infoContainer {
                width: 100%;
                height: 300px;
                border-radius: 12px;

                .info {
                    @include flex (column, unset, center, center);
                    text-align: center;
                    margin-top: 10px;
                    overflow: hidden;

                    h4 {
                        color: $colorWhite2;
                        font-size: 3.5rem;
                        margin-bottom: 5px;
                    }
                    .bar {
                        position: relative;
                        top: -8px;
                        width: 100%;
                        height: .4rem;
                        margin: .5rem 0;
                        background: $colorBlack2;
                        border-radius: 8px;

                        &:before, &:after{
                            content: '';
                            position: absolute;
                            border-radius: 8px;
                            height: 100%;
                            width: 80%;
                            background: $colorWhite2;
                            animation: progressBar 3s forwards;
                        }
                        &:after {
                            filter: opacity(.2) blur(8px);
                        }

                        @keyframes progressBar {
                            0% {
                                left: -100%; 
                            }
                            20%{
                                left: 0%; 
                            }
                            100% {
                                left: 0%;              
                            }
                        }

                    }
                    p {
                        color: $colorWhite2;
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }
            }    
        }
    }
}

